.DS_Store
.cache
node_modules
examples/build
cypress/videos
cypress/screenshots
dist
.env
stats.html
.eslintcache
.idea
.log

.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*