---
import RF from '../components/ReactFlowExample' 
import SF from '../components/SvelteFlowExample/index.svelte' 
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>

		<style>
			html, body {
				margin:0;
				font-family: sans-serif;
			}
		</style>
	</head>
	<body>
		<h2>Svelte Flow</h2>
		<div style="height: 400px">
			<SF />
		</div>

		<h2>React Flow</h2>
		<div >
			<RF />
		</div>
	</body>
</html>
