.controls {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 4;
  font-size: 12px;
}

.controlsLabel {
  display: block;
}

.bgLabel {
  margin-top: 10px;
}

.checkboxWrapper {
  margin-top: 10px;
  display: flex;
  align-items: center;
}
