.react-flow__controls {
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.08);

  &-button {
    border: none;
    background: #fefefe;
    border-bottom: 1px solid #eee;
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    cursor: pointer;
    user-select: none;
    padding: 5px;

    &:hover {
      background: #f4f4f4;
    }

    svg {
      width: 100%;
      max-width: 12px;
      max-height: 12px;
    }

    &:disabled {
      pointer-events: none;

      svg {
        fill-opacity: 0.4;
      }
    }
  }
}
