.Timer {
  position: absolute;
  bottom: 0;
  transition-duration: 0.3s;
  left: 50%;
  transform: translate(-50%, 100%);
  font-size: 1.5rem;
  z-index: 999;
  background-color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.Timer.show {
  transform: translate(-50%, 0%) translateY(-10px);
}