.dndflow {
  flex-direction: column;
  display: flex;
  height: 100%;
}

.dndflow aside {
  border-right: 1px solid #eee;
  padding: 15px 10px;
  font-size: 12px;
  background: #fcfcfc;
}

.dndflow aside .description {
  margin-bottom: 10px;
}

.dndflow .dndnode {
  height: 20px;
  padding: 4px;
  border: 1px solid #1a192b;
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.dndflow .dndnode.input {
  border-color: #0041d0;
}

.dndflow .dndnode.output {
  border-color: #ff0072;
}

.dndflow .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .dndflow {
    flex-direction: row;
  }

  .dndflow aside {
    width: 20%;
    max-width: 250px;
  }
}

.sidebar-label {
  display: block;
  font-size: 16px;
  font-weight: 700;
  margin-top: 4px;
}

.sidebar-input {
  height: 24px;
  width: calc(100% - 8px);
  margin-top: 4px;
  margin-bottom: 4px;
}
.sidebar-selection {
  height: 24px;
  width: 100%;
  margin-top: 4px;
  margin-bottom: 4px;
}
.accordion-summary-text {
  display: flex;
  font-size: 14px;
  padding-left: 8px;
  align-items: center;
}

.accordion-details-label {
  display: block;
  width: 100%;
}
.accordion-input {
  display: block;
  height: 24px;
  margin-top: 8px;
  width: calc(100% - 8px);
}
.accordion-details {
  display: block !important;
}
.accordion-select {
  height: 30px;
  margin-top: 8px;
  width: 100%;
}

.sidebar-addfield-button {
  margin: 8px 0 !important;
}

.sidebar-options-panel {
  margin: 8px 0px 16px 0px!important;
}

.sidebar-options-panel-summary {
  font-weight: 700;
  font-size: 14px;
}