.validationflow {
}

.validationflow :global .react-flow__node {
  width: 150px;
  border-radius: 5px;
  padding: 10px;
  color: #555;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 12px;
}

.validationflow :global .react-flow__node-customnode {
  background: #e6e6e9;
  border: 1px solid #ddd;
}

.validationflow :global .react-flow__node-custominput .react-flow__handle {
  background: #e6e6e9;
}

.validationflow :global .react-flow__node-custominput {
  background: #fff;
}

.validationflow :global .react-flow__handle-connecting {
  background: #ff6060;
}

.validationflow :global .react-flow__handle-valid {
  background: #55dd99;
}
