@import url('https://fonts.googleapis.com/css2?family=Roboto@1,400;1,700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  color: #111;
}

html,
body {
  margin: 0;
}

html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

header {
  padding: 10px;
  border-bottom: 1px solid #eee;
  display: flex;
  font-weight: 700;
  align-items: center;
}

.logo {
  text-decoration: none;
  display: block;
  line-height: 1;
}

header a,
header a:focus,
header a:active,
header a:visited {
  color: #111;
}

header a:hover {
  color: #333;
}

.menu {
  margin-left: auto;
  background: rgb(255, 96, 96);
  color: white;
  border: none;
  padding: 5px 12px;
  border-radius: 5px;
}

nav {
  font-weight: 400;
  display: none;
  position: absolute;
  width: 94%;
  top: 46px;
  z-index: 10;
  left: 0;
  padding: 3%;
  background: rgba(255, 255, 255, 0.9);
}

nav.is-open {
  display: block;
}

nav a {
  text-decoration: none;
  font-size: 14px;
  background: rgb(255, 96, 96);
  color: white;
  padding: 5px 12px;
  border-radius: 5px;
  position: relative;
  display: block;
  margin-bottom: 5px;
}

nav a,
nav a:focus,
nav a:active,
nav a:visited {
  color: #fff;
}

nav a:hover {
  color: #fff;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.12);
}

nav a.active:before {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  background: white;
  opacity: 0.5;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.sourcedisplay {
  position: absolute;
  top: 50px;
  right: 15px;
  z-index: 4;
  text-decoration: none;
  font-size: 12px;
}

.sourcedisplay,
.sourcedisplay:focus,
.sourcedisplay:active,
.sourcedisplay:visited {
  color: #777;
}

.sourcedisplay:hover {
  color: #111;
}

.overview-example__add {
  display: none;
}

.react-flow__node a {
  font-weight: 700;
  color: #111;
}

.react-flow__node.dark-node {
  background: #333;
  color: #f8f8f8;
}

.react-flow__node-selectorNode {
  font-size: 12px;
  background: #eee;
  border: 1px solid #555;
  border-radius: 5px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  nav {
    position: relative;
    display: block;
    margin-left: auto;
    width: auto;
    padding: 0;
    top: auto;
    left: auto;
  }

  nav a {
    margin-left: 10px;
    font-size: 12px;
    display: inline-block;
    margin-bottom: 0;
  }

  .menu {
    display: none;
  }

  .overview-example__add {
    display: block;
  }
}