---
import Flow from '../components/Flow' 
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>

		<style>
			html, body {
				margin:0;
				font-family: sans-serif;
			}
		</style>
	</head>
	<body>
		<h1>Astro</h1>
		<div style="height: 400px">
			<Flow  />
		</div>
	</body>
</html>
