name: Playwright Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  playwright:
    name: 'Playwright Tests'
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:v1.51.1-jammy
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - uses: ./.github/actions/ci-setup
      - uses: ./.github/actions/ci-checks
      - name: Run your tests
        run: CI=true pnpm test:react
        env:
          HOME: /root
      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: playwright-results
          path: |
            packages/react/test-results/
            packages/react/playwright-report/
          retention-days: 30
